.title {
    text-align: center;
    font-family: HelveticaNow,Helvetica,sans-serif;
}

.title1 {
    margin-bottom: 0;
}

.title2 {
    margin-top: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    row-gap: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
}
.border {
    border-style: solid;
    border-color: #e9e7e6;
    border-width: 1px;
}
.img-size {
    height: 400px;
    width: 300px;
}

.text {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-family: HelveticaNow,Helvetica,sans-serif;
}

.brand-text {
    margin: 0;
    font-size: 12px;
}

.description-text {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}

.price-text {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    color: red;
}

.discount-text {
    color: black;
    text-decoration: line-through;
}